
.mob_only {
  display: block;
}

.dsk_only {
  display: none;
}

/* section0 */
#section0{
  text-align: center;
}
#section0 .con_btn{
  margin-top: 2rem;
}
#section0 hr{
  margin-top: 4rem;
}
#section0 .rel{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* section1 */
.set_tab{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.tab{
  font-size: 1.4rem;
  border: 1px solid #999;
  padding: 1rem;
  border-radius: 3rem;
  color: #999;
}
.tab:first-child{
  border: 1px solid #222;
  color: #222;
  font-weight: 700;
}
.rel h2.tit{
  text-align: center;
  margin-top: 4rem;
}
.rel h3{
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.top_content h3{
  color: #444;
}

.top_content p{
  margin-top: 2rem;
  text-align: center;
  line-height: 2rem;
  color: #666;
}
.base{
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  width: 30rem;
  height: 5rem;
  margin: 4rem auto 0;
  text-align: center;
  line-height: 5rem;
  font-size: 1.6rem;
}


/* section2 */
#section2{
  background: url(../image/sec_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  max-width: 144rem;
  margin: auto;
}
.rel {
  position: relative;
}
.bot_content img{
  display: block;
  height: 70rem;
  width: 50rem;
  object-fit: contain;
  position: relative;
  z-index: 2;
  margin: auto;
}
.bot_content:hover img{
  animation: bot_ani 3s infinite alternate;
}

@keyframes bot_ani {
  0%{transform: rotate(-15deg);}
  100%{transform: rotate(15deg);}
}

.bot_content svg {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 100%;
  z-index: -1;
  pointer-events: none; /* 클릭 막기 */
}

.bot_txt{
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 17rem;
}

.data{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-top: 2rem;
}
.data h4{
  width: 10rem;
  border: 1px solid #000;
  background-color: #121212;
  color: #fff;
  height: 3rem;
  border-right: none;
  text-align: center;
  line-height: 3rem;
}
.data span{
  border: 1px solid #000;
  display: block;
  width: 20rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #fff;
}

.data_content {
  position: absolute;
  bottom: 12rem;
  right: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 3; 
  padding: 1rem;
  border-radius: 0.5rem;
}


/* section3 */
.bot_mid{
  margin-bottom: 10rem;
  position: relative;
  width: fit-content;
}
.bot_mid img {
  width: 100%;
  display: block;
}
.bot_mid svg.overlay {
  position: absolute;
  top: 15%;
  left: 26%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%;
  z-index: 2;
  pointer-events: none; /* 클릭 막기 */
  animation: svg_ani 3s forwards linear;
}

@keyframes svg_ani{
  0% {transform: scale(0);}
	50% {transform: scale(1.2);}
	100% {transform: scale(1);}
}

.bot_mid{
  margin: auto;
}
.bot_mid .txt2{
  text-align: center;
  margin-top: 6rem;
}

.bot_mid2 .txt2{
  text-align: center;
  margin: 3rem auto;
  line-height: 2rem;
}
.bot_mid2 svg{
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  left: 0;
  width: 80%;
  height: 80%;
}
.food_list{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.food_list li:first-child,
.food_list li:nth-child(3)
{
  width: 100%;
  height: 25rem;
  display: flex;
  gap: 1rem;
}


.food_list li img{
    width: 28rem;
    height: 20rem;
    object-fit: cover;
    display: block;
    position: relative;
  }

.food_cont{
  margin-top: 4rem;
}
.food_cont p{
  text-align: center;
  margin: 4rem auto 0.6rem;
}
.food_cont h3{
  font-size: 2rem;
  margin-bottom: 4rem;
}
.food_under{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.food_under li img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.food_under::before{
  content: '';
  position: absolute;
  top: 80%;
  left: -11%;
  background-image: url(../image/under_bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  z-index: -1;
}

/* section4 */
#section4{
  background-image: url(../image/bottom_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0rem;

}
.reveiw{
  width: 35rem;
  height: 30rem;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  background-image: linear-gradient(to top, #fff 0%, #fff 60%, #E8E8E8 100%);
}
.reveiw_top{
  display: flex;
  h4{
    font-size: 1.8rem;
    line-height: 5rem;
    margin-left: 1rem;
  }
}
.reveiw_content{
  padding: 1rem;
  margin-top: 2rem;
  p{
    line-height: 2.5rem;
  }
  img{
    margin-bottom: 1rem;
    display: block;
  }
  span{
    font-size: 1.3rem;
    margin-top: 1rem;
    display: block;
    color: #999;
  }
}
.reveiw_indicator{
  text-align: center;
  margin-top: 1rem;
}
.reveiw_indicator a{
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  text-indent: -9999px;
  cursor: pointer;
}
.rv2, .rv3, .rv4, .rv5, .rv6{
  display: none;
}

@media screen and (min-width:768px) {
  .mob_only {
    display: none !important;
  }
  .dsk_only {
    display: block !important;
  }
  .dsk_only.case1 {
      display: none !important;
    }
  /* 공통 css */
  #section0 h2.tit,
  h2.tit{
    font-size: 3.6rem; 
    line-height: 4.5rem;
    font-weight: 600;
  }
  h2.tit b{ 
    font-size: 4.8rem;
    line-height: 3.7rem;
    font-weight: 700;
  }

  p.txt1 {font-size: 2.4rem;}
  p.txt2 {font-size: 2.0rem;}
  
  /* 버튼 */
  a.con_btn {
    background-color: #b32828;
    border: 1px solid #b32828;
    color: #fff;
    display: flex;
    width: 30rem;
    height: 3.8rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 1.2rem;
  }
  /* section1 */
  .tab{
    font-size: 1.8rem;
  }
  .rel h3{
    font-size: 2.4rem;
  }
  .base{
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    width: 30rem;
    height: 5rem;
    margin: 4rem auto 0;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
  }

  .bot_content img{
    display: block;
    height: 85rem;
    width: 100rem;
    object-fit: contain;
  }

  .bot_txt{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 10rem;
  }
  /* section3 */
.bot_mid{
  margin: auto;
}
  .food_list {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem; /* 필요 시 간격 */
  }
  .food_list li {
    width: 80%;
  }
  .food_list li:first-child{
    width: 80%;
  }

  .food_under li img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
  .food_under::before{
    content: '';
    position: absolute;
    top: 70%;
    left: -11%;
    background-image: url(../image/under_bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
    z-index: -1;
  }
  .rv2, .rv3, .rv4{
  display: block;
}

.reveiw_1, .reveiw_2{
  display: flex;
  margin: auto;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 70rem;
}
.rv2, .rv4{
  transform: translateY(10rem);
}
.reveiw_indicator{
  margin-top: 15rem;
}
}

@media screen and (min-width:1200px) {

  /* section2 */
  .bot_content img{
    display: block;
    height: 120rem;
    width: 120rem;
    object-fit: contain;
  }


  .rv5, .rv6{
  display: block;
  }

  .bot_mid2 .txt2{
    margin-bottom: 3rem;    
  }

  /* section4 */
  .reveiw_1, .reveiw_2{
  width: 100rem;
  }
  .food_list{
    margin-top: 5rem;
  }
  .food_list li {
      width: 80%;
  }
  .food_list li:first-child{
    width: 80%;
  }
  .food_under li img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
  }
  .food_list li img{
    width: 35rem;
    height: 40rem;
    object-fit: cover;
    display: block;
    position: relative;
  }

}



