/* section0_______________________________ */
section#section0_hd{
  padding: 0;
}

#section0_hd .rel .tit_hd{
  text-align: center;
}
#section0_hd .rel .tit_hd h2{
  font-size: 3.0rem;
  font-weight: 700;
  margin: 7rem 0 3rem 0;
}
#section0_hd .rel .tit_hd p{
  font-size: 2.0rem;
  font-weight: 600;
}

/* section1_______________________________ */
/* section 전체 공통 */
section#section1_hd,
section#section2_hd,
section#section3_hd,
section#section4_hd,
section#section5_hd{
  padding: 0;
}

/* media only start_____________ */
#section1_hd .rel .media_click{
  display: flex;
}
/* media only end________________ */

/* mobile only start_____________ */
#section1_hd .rel .mob_click{
  display: flex;
  width: 100%;
}
#section1_hd .rel .mob_click .april,
#section1_hd .rel .mob_click .may,
#section1_hd .rel .mob_click .june{
  background-color: rgba(179, 40, 40, 0.7);
  width: 41.2rem;
  height: 3.2rem;
  font-size: 2.0rem;
  color: #fafafa;
  font-weight: 600;
  text-align: center;
  line-height: 3.2rem;
  flex: 1;
}
#section1_hd .rel .mob_click .april,
#section1_hd .rel .mob_click .may{
  margin-right: 1rem;
}
/* mobile only end________________ */

#section1_hd .rel .may_tit{
  margin-top: 5rem;
  text-align: center;
}
#section1_hd .rel .may_tit p{
  font-size: 1.8rem;
  font-weight: 600;
  color: #4E4E4E;
  margin-bottom: 1rem;
}
#section1_hd .rel .may_tit h3{
  font-size: 2.8rem;
  font-weight: 700;
  color: #121212;
}
#section1_hd .rel .may_main_img{
  margin: 4rem;
  display: flex;
  justify-content: center;
}
#section1_hd .rel .images_custom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5rem;
}
#section1_hd .rel .images_custom img:first-child{
  margin-bottom: 1rem;
}

/* .may_txt1 .may_txt2 .may_txt3 .may_txt4 공통 */
#section1_hd .rel .may_txt1,
#section1_hd .rel .may_txt2,
#section2_hd .rel .may_txt3,
#section5_hd .rel .may_txt4{
  margin: 5rem 0;
  text-align: center;
  font-size: 2.0rem;
  font-weight: 500;
  color: #4E4E4E;
}

/* section2_______________________________ */
/* label_hd 공통 */
.label_hd{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.label_hd span{
  font-size: 2.0rem;
  font-weight: 600;
  color: #4E4E4E;
  display: inline-block;
  padding-left: 2rem;
  background: url(../image/etc/rectangle.png) no-repeat left center;
  background-size: 2rem 2rem;
  line-height: 1.5;
  text-indent: 1rem;
}

#section2_hd .rel .banner1_hd{  /* 배너전체 영역 */
	position:relative;
	width: 100rem;
	height: 40rem;
	background: #fafafa;	 
	margin: auto;
}
.banner1_hd .ban1_hd{   /* 슬라이드 영역 */
	width: 200rem; /* 보여주는 개수를 조정할 때 가로폭(여백 포함해서)에 맞춰서 조정하면 됨. */
	height: 30rem;
	overflow: hidden;
	position: absolute;
	top: 4rem;
	left: 4rem;
	background: #fafafa;
}
.banner1_hd .ban1_hd ul{
	display: flex;
	position: relative;
}
.banner1_hd .ban1_hd ul li{
	margin-right: 1rem;
	width: 25rem;
	height: auto;  
}

/*좌우버튼*/
.ban_btn_hd img{
  width: 2.0rem;
}
.ban_btn .left_hd,
.ban_btn .right_hd{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ban_btn_hd .left_hd{left: 30px;}
.ban_btn_hd .right_hd{right: 30px;}
.ban_btn_hd .left_hd:hover,
.ban_btn_hd .right_hd:hover{opacity: 0.3;}

/* section3_______________________________ */
/* section4_______________________________ */
/* section5_______________________________ */