.dsk_only {
  display: none !important;
}

/* secion1 */
.set_tit{
  text-align: center;
}
.set_tit .tit{
  margin-bottom: 4rem;
  color: #444;
}
.set_tit img{
  margin: 7rem auto 6rem;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  }

  .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  }

  .swiper-slide img {
  display: block;
  width: 100%;
  max-width: 800px;
  height: 35rem;
  object-fit: cover;
  }

  .swiper-slide {
  width: 80%;
  }

    .swiper-slide:nth-child(1n) {
  width: 80%;
  }

  .swiper-slide:nth-child(2n) {
  width: 60%;
  }

  .swiper-slide:nth-child(3n) {
  width: 40%;
  }

.info_top p.txt1{
  margin: 4rem auto 10rem;
  text-align: center;
}
.info_mid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mid_fir{
  text-align: center;
}
.mid_fir img{
  margin: 4rem auto;
}

.mid_sec{
  width: 35rem;
  height: 7rem;
  border-radius: 5rem;
  text-align: center;
  background-color: #E8E8E8;
  margin: 4rem auto;
}
.mid_sec p{
  margin-top: 1.5rem;
}

.mid_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mid_content::before{
  content: '';
  top: -9rem;
  position: absolute;
  width: 0.2rem;
  height: 40rem;
  background-color: #ddd;
  z-index: -1;
}
.mid_content div{
  width: 35rem;
  height: 12rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  background-color: #E8E8E8;
}
.mid_tit{
  font-size: 2rem;
  margin: 1rem auto;
}
.mid_tit em{
  font-style: normal;
  color: #B32828;
}


/* sectioln2 */
#section2 h2,
#section2 p
{ text-align: center;
  line-height: 2rem;
  margin-bottom: 4rem;
}

#section2 h2{margin-bottom: 2rem;}
#section2 p.txt1{margin-bottom: 4rem;}

.con_fir, .con_sec{
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 24rem;
}

.fir{
  position: relative;
  overflow: hidden;
}

.con_fir img, .con_sec img{
  height: 20rem;
  filter: grayscale();
  transition: 0.35s;
}
.con_fir div:first-child img{
  width: 30rem;
}
.con_fir div:hover img,
.con_sec div:hover img{
  filter: none;
}
.con_fir div:hover p{
  color: #b32828;
  font-weight: 700;
}


/* section3 */
.swiper02 {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: 2rem;
}
.swiper02 .swiper-wrapper {
  display: flex;
}
.swiper02 .swiper-slide {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 30rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s;
  flex: 0 0 auto;
  margin: 4rem 1rem;
}

.swiper02 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s;
}

.swiper_txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.swiper_txt h3 {
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translate(-10%, -45%);
  font-size: 2rem;
  color: #fff;
}

.swiper_txt p {
  position: absolute;
  top: 65%;
  left: 20%;
  transform: translate(-20%, -65%);
  font-size: 1.8rem;
  color: #fff;
  line-height: 2.5rem;
}

.swiper_btn {
  position: absolute;
  bottom: -0.6rem;
  right: -0.6rem;
  background-color: #b32828;
  color: #fff;
  display: flex;
  width: 20rem;
  height: 7rem;
  border: 0.7rem solid #fff;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 4rem;
  box-shadow: 1rem 1rem rgba(0, 0, 0, 0.3);
}

.swiper02 .swiper-slide:hover img {
  transform: scale(1.2);
}

/* section4 */
.news{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.news li{
  width: 20rem;
  height: 25rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
}

.news li img{
  width: 20rem;
  height: 18rem;
  object-fit: cover;
  transition: 0.35s;
}

.news_text h3{
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
.news_text span{
  display: block;
  padding: 0 2rem;
}

.txt_bt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  opacity: 0;
}
a.new_btn {
  display: block;
  text-align: center;
  background-color: #fff;
  color: #B32828;
  border: 1px solid #B32828;
  width: 15rem;
  padding: 0.7rem;
  text-decoration: none;
  border-radius: 4px;
  margin: 0.5rem auto;
  transition: 0.35s;
}
.news_btn{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  display: flex;
  color: #fff;
}

.news li:hover img{
  filter: grayscale(1000);
  height: 13rem;
}

.txt_bt{
  opacity: 1;
}
a.new_btn:hover{
  background-color: #B32828;
  color: #fff;

}

@media screen and (min-width:768px) {
  /* 공통 css */
  #section0 h2.tit,
  h2.tit{
    font-size: 3.6rem; 
    line-height: 4.5rem;
    font-weight: 600;
  }
  h2.tit b{ 
    font-size: 4.8rem;
    line-height: 3.7rem;
    font-weight: 700;
  }

  p.txt1 {font-size: 2.4rem;}
  p.txt2 {font-size: 2.0rem;}
  
  /* 버튼 */
  a.con_btn {
    background-color: #b32828;
    border: 1px solid #b32828;
    color: #fff;
    display: flex;
    width: 30rem;
    height: 3.8rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 1.2rem;
  }

  /* section1 */
  .slide-track ul li {
    min-width: 60%;
    object-fit: cover;
    box-sizing: border-box;
  }
  
  .mid_fir{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 70rem;
  }
  .info{
    text-align: center;
    font-size: 2.4rem;
    width: 20rem;
  }
  .info_img{
    flex: 1;
  }

  .mid_sec{
    width: 60rem;
    height: 10rem;
    border-radius: 5rem;
    text-align: center;
    background-color: #E8E8E8;
    margin: 4rem auto;
  }
  .mid_sec p{
    margin-top: 2.5rem;
  }
  
  .mid_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .mid_content::before{
    content: '';
    top: -9rem;
    position: absolute;
    width: 0.2rem;
    height: 50rem;
    background-color: #ddd;
    z-index: -1;
  }
  .mid_content div{
    width: 60rem;
    height: 15rem;
    border-radius: 1rem;
    margin-top: 1rem;
    text-align: center;
    background-color: #E8E8E8;
  }
  .mid_tit{
    font-size: 2.4rem;
    margin: 2rem auto;
  }
  .mid_tit em{
    font-style: normal;
    color: #B32828;
  }
  
/* section2 */
.con_fir, .con_sec{
  display: flex;
  justify-content: center;
  gap: 3rem;
  height: 40rem;
}

.fir{
  position: relative;
  overflow: hidden;
}

.con2,
.con4 {
  transform: translateY(50px);
}

.con_fir img, .con_sec img{
  height: 30rem;
  filter: grayscale();
  transition: 0.35s;
}
.con_fir div:first-child img{
  width: 45rem;
}

.con_fir .txt2,
.con_sec .txt2{
  margin-top: 1.5rem;
}

/* section3 */
#section3 .tit{
  margin-left: 10rem;
}
.boxcon_wrap {
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem auto;
  width: 100rem;
}



/* section4 */
#section4{
  background-image: url(../image/bottom_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0rem;
}
#section4 .tit{
  margin-left: 10rem;
}
.news li{
  width: 30rem;
  height: 35rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: #fff;
}

.news li img{
  width: 30rem;
  height: 28rem;
  object-fit: cover;
  display: block;
}

.news_text h3{
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
.news_text span{
  display: block;
  padding: 0 2rem;
}
.news{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.txt_bt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  opacity: 0;
}
a.new_btn {
  display: block;
  text-align: center;
  background-color: #fff;
  color: #B32828;
  border: 1px solid #B32828;
  width: 15rem;
  padding: 0.7rem;
  text-decoration: none;
  border-radius: 4px;
  margin: 0.5rem auto;
  transition: 0.35s;
  opacity: 0;
}
.news_btn{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  display: flex;
  color: #fff;
}

.news li:hover img{
  height: 24rem;
}
.news li:hover a.new_btn,
.news li:hover .txt_bt{
  opacity: 1;
}
}

@media screen and (min-width:1200px) {
  .mob_only {
    display: none !important;
  }
  .dsk_only {
    display: block !important;
  }
  
  .mid_sec{
    width: 70rem;
    height: 10rem;
    border-radius: 5rem;
    text-align: center;
    background-color: #E8E8E8;
    margin: 4rem auto;
  }
  .mid_sec p{
    margin-top: 2.5rem;
  }
  
  .mid_content{
    flex-direction: row;
    gap: 1rem;
    margin-top: 4rem;
  }
  .mid_content::before{
    content: '';
    bottom: 250%;
    position: absolute;
    width: 0.2rem;
    height: 20rem;
    background-color: #ddd;
    z-index: -1;
  }
  .mid_content::after{
    content: '';
    bottom: 120%;
    position: absolute;
    width: 60rem;
    height: 0.2rem;
    background-color: #ddd;
    z-index: -1;
  }
  .mid_content div{
    width: 30rem;
    height: 25rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    text-align: center;
    background-color: #E8E8E8;
    padding: 1rem;
  }
  h2.tit.info1{
    font-size: 2.2rem;
  }
  p.txt2.info1{
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  
  .mid1::before{
    content: '';
    top: -20%;
    left: 17.5%;
    transform: translateX(-17%);
    position: absolute;
    width: 0.2rem;
    height: 7rem;
    background-color: #ddd;
    z-index: -1;
  }
  .mid3::before{
    content: '';
    top: -20%;
    right: 17.3%;
    transform: translateX(-17%);
    position: absolute;
    width: 0.2rem;
    height: 7rem;
    background-color: #ddd;
    z-index: -1;
  }

  /* section2 */
  .con_fir, .con_sec{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 40rem;
  }
  .con2, .con4 {
  transform: translateY(100px);
}
}